.nav {
  @include pc {
    height: 40px;
  }
  &-logo {
    background-image: url(../images/LOGO/logo-lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
    width: 108px;
    height: 24px;
    @include pad {
      width: 160px;
      height: 32px;
    }
    @include pc {
      width: 200px;
      height: 40px;
    }
  }
  &-menu {
    &-ham {
      width: 28px;
      height: 24px;
      @include pad {
        width: 32px;
        height: 32px;
      }
    }
    &-mobile {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.24);
      border-radius: 0px 0px 8px 8px;
    }
  }
}
