.admin {
  &-layout {
    width: 320px;
    .active {
      color: orange !important;
    }
  }
  &-logo {
    background-image: url(../images/LOGO/logo-lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include logo-link;
    width: 120px;
    height: 24px;
    @include pad {
      width: 160px;
      height: 32px;
    }
    @include pc {
      width: 200px;
      height: 40px;
    }
  }
  &-account {
    &-avatar {
      width: 50px;
      height: 50px;
    }
  }
}

/* CKEditor 編輯區塊 */
.ck-editor__editable_inline {
  /* 設定最低高度 */
  min-height: 500px;
}
