// load
.load {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loader-hide {
  display: none !important;
}

// --------------------- banner ---------------------
.index {
  // &-banner {
  //   background-image: url(../images/Hero/hero-sm-new.png);
  //   background-position: center center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   @include pad {
  //     background-image: url(../images/Hero/hero-lg-new.png);
  //   }
  // }
  &-slogan {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 10%;
    width: 295px;
    height: 196px;
    transform: translateY(-50%);
    @include pc {
      width: 507px;
      height: 332px;
    }
    background: rgba(255, 255, 255, 0.6);
    &-btn {
      width: 120px;
      @include pc {
        width: 146px;
      }
    }
  }
}

.swiper-slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  &-1 {
    background-image: url(../images/Hero/hero-sm-new.png);
    @include pad {
      background-image: url(../images/Hero/hero-lg-new.png);
    }
  }
  &-2 {
    background-image: url(../images/Hero/hero-sm-new.png);
    @include pad {
      background-image: url(../images/Hero/hero-lg-3.png);
    }
  }
  &-3 {
    background-image: url(../images/Hero/hero-sm-new.png);
    @include pad {
      background-image: url(../images/Hero/hero-lg-2.png);
    }
  }
  &-4 {
    background-image: url(../images/Hero/hero-sm-new.png);
    @include pad {
      background-image: url(../images/Hero/hero-lg-4.png);
    }
  }
}

// --------------------- experience ---------------------
.experience {
  &-img {
    object-fit: cover;
    height: 395px !important;
    width: 100%;
    @include pc {
      height: 100% !important;
    }
  }
  &-card {
    width: calc(100% - 16px);
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      border: 2px solid #d6e5de;
      border-radius: 8px;
      top: 8px;
      left: 12px;
      @include pc {
        top: 16px;
        left: 16px;
      }
    }
    &:hover::after {
      border-color: $primary;
    }
  }
  &-card-1 {
    &::before {
      content: '上攀攻頂';
      position: absolute;
      right: 16px;
      bottom: 16px;
      font-size: 24px;
      color: white;
      z-index: 1;
    }
    &:hover::before {
      color: $primary;
    }
  }
  &-card-2 {
    &::before {
      content: '兒童體驗';
      position: absolute;
      right: 16px;
      bottom: 16px;
      font-size: 24px;
      color: white;
      z-index: 1;
    }
    &:hover::before {
      color: $primary;
    }
  }
  &-card-3 {
    &::before {
      content: '極限抱石 ';
      position: absolute;
      right: 16px;
      bottom: 16px;
      font-size: 24px;
      color: white;
      z-index: 1;
    }
    &:hover::before {
      color: $primary;
    }
  }
  &-card-4 {
    &::before {
      content: '個人挑戰';
      position: absolute;
      right: 16px;
      bottom: 16px;
      font-size: 24px;
      color: white;
      z-index: 1;
    }
    &:hover::before {
      color: $primary;
    }
  }
}

@include pc {
  .flip-card {
    height: 395px;
    perspective: 1000px;
    &-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
}

// --------------------- training ---------------------
.training {
  z-index: 0;
  &-name {
    &-tc {
      &-1 {
        width: 80px;
        @include pc {
          width: 120px;
        }
      }
      &-2,
      &-3 {
        width: 180px;
        @include pc {
          width: 240px;
        }
      }
    }
    &-en {
      bottom: 0;
      right: 0;
      z-index: 0;
    }
  }
}

// --------------------- information ---------------------

.feature {
  &-title {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: $primary;
      width: 32px;
      height: 4px;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      @include pc {
        width: 6px;
        height: 20px;
        left: -12px;
        top: 4px;
      }
    }
  }
}

.location {
  &-title {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background: $primary;
      width: 32px;
      height: 4px;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      @include pc {
        width: 6px;
        height: 20px;
        left: -12px;
        top: 4px;
      }
    }
  }
}
// --------------------- calendar  ---------------------

// --------------------- background rock ---------------------
.bg-rock {
  &-lg {
    z-index: -1;
    &-1 {
      right: 0;
      top: 180px;
    }
    &-2 {
      left: 0;
      top: -48px;
    }
    &-3 {
      right: 0;
      top: 800px;
    }
    &-4 {
      left: 0;
      top: -60px;
      z-index: 0;
    }
    &-5 {
      right: 24%;
      top: 200px;
    }
    &-6 {
      right: 16%;
      top: 800px;
    }
    &-7 {
      left: 14%;
      bottom: 8px;
    }
    &-8 {
      right: -200px;
      bottom: 300px;
    }
    &-9 {
      right: 6%;
      top: 200px;
      z-index: 0;
    }
    &-10 {
      left: 5%;
      bottom: 100px;
      z-index: 0;
    }
  }
  &-sm {
    z-index: -1;
    &-1 {
      top: 90px;
      right: 0;
    }
    &-2 {
      bottom: 36px;
      left: 0;
    }
    &-3 {
      bottom: 120px;
      left: 0;
    }
    &-4 {
      top: 400px;
      right: 5%;
    }
    &-5 {
      top: 450px;
      right: 0;
    }
    &-6 {
      bottom: 250px;
      left: 15%;
    }
    &-7 {
      bottom: 120px;
      right: 15%;
    }
    &-8 {
      top: 10px;
      left: 0;
      z-index: 0;
    }
    &-9 {
      bottom: 50px;
      right: 0;
      z-index: 0;
    }
  }
}
