.register {
  &-rock {
    &-1 {
      top: 450px;
      left: 0;
    }
    &-2 {
      top: 420px;
      left: 70px;
    }
    &-3 {
      top: 390px;
      left: 120px;
    }
    &-4 {
      top: 350px;
      left: 180px;
    }
    &-5 {
      top: 300px;
      left: 250px;
    }
    &-6 {
      top: 240px;
      left: 270px;
    }
    &-7 {
      top: 180px;
      left: 290px;
    }
    &-8 {
      top: 120px;
      left: 340px;
    }
    &-9 {
      top: 80px;
      left: 380px;
    }
  }
}

.login {
  &-rock {
    &-1 {
      top: 150px;
      left: 0;
    }
    &-2 {
      top: 230px;
      left: 0;
    }
    &-3 {
      top: 310px;
      left: 0;
    }
    &-4 {
      top: 390px;
      left: 0;
    }
    &-5 {
      top: 390px;
      left: 100px;
    }
    &-6 {
      top: 150px;
      left: 100px;
    }
    &-7 {
      top: 150px;
      left: 180px;
    }
    &-8 {
      top: 150px;
      left: 280px;
    }
    &-9 {
      top: 150px;
      left: 360px;
    }
    &-10 {
      top: 150px;
      left: 440px;
    }
    &-11 {
      top: 390px;
      left: 170px;
    }
    &-12 {
      top: 390px;
      left: 240px;
    }
    &-13 {
      top: 390px;
      left: 320px;
    }
    &-14 {
      top: 230px;
      left: 400px;
    }
    &-15 {
      top: 310px;
      left: 360px;
    }
  }
}

.member {
  &-info {
    &-img {
      width: 100px;
      height: 100px;
      @include pad {
        width: 200px;
        height: 200px;
      }
    }
  }
  &-tab {
    transition: all 0.3s;
    &:hover {
      background: rgba(255, 255, 255, 0.4);
    }
    &-active {
      background: rgba(255, 255, 255, 0.4);
    }
  }
}

.register-climber {
  width: 50px;
  &-1 {
    top: 300px;
    left: 280px;
  }
  &-2 {
    top: 30px;
    left: 390px;
  }
  &-3 {
    top: 130px;
    left: 300px;
  }
  &-4 {
    top: 490px;
    left: -10px;
  }
  &-5 {
    top: 350px;
    left: 100px;
  }
}

.login-climber {
  width: 50px;
  &-1 {
    top: 170px;
    left: 490px;
  }
  &-2 {
    top: 100px;
    left: 300px;
  }
  &-3 {
    top: 250px;
    left: -50px;
  }
  &-4 {
    top: 450px;
    left: 100px;
  }
  &-5 {
    top: 340px;
    left: 250px;
  }
}
