.login {
  &-panel {
    background: rgba(255, 255, 255, 0.4);
  }
  &-rock {
    &-1 {
      top: 0;
      left: 0;
    }
    &-2 {
      top: 200px;
      left: 20px;
    }
    &-3 {
      top: 230px;
      left: 240px;
    }
    &-4 {
      top: 360px;
      left: 550px;
    }
    &-5 {
      top: 100px;
      left: 450px;
    }
    &-6 {
      bottom: 160px;
      right: 200px;
    }
    &-7 {
      bottom: 230px;
      right: 100px;
    }
    &-8 {
      bottom: 140px;
      right: 450px;
    }
    &-9 {
      bottom: 220px;
      right: 310px;
    }
  }
}

.member {
  &-info {
    &-img {
      width: 100px;
      height: 100px;
      @include pad {
        width: 200px;
        height: 200px;
      }
    }
  }
  &-tab {
    &-active {
      background-color: $blue-c1;
    }
  }
}
