<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    
    <header class="fixed-top position-lg-relative py-3 py-lg-6 bg-white">
      <div class="container">

        <nav class="nav d-flex justify-content-between">
          <!-- logo -->
          <h2 class="mb-0"><a class="nav-logo hover-opacity" href="#">HIGHROCK</a></h2>
          <!-- menu pc -->
          <ul class="nav-menu list-unstyled d-lg-flex d-none align-items-center">
            <li><a class="text-gray hover-decoBorder-bottom position-relative py-2 px-0 ms-8" href="#">場館資訊</a></li>
            <li><a class="text-gray hover-decoBorder-bottom position-relative py-2 px-0 ms-8" href="#">課程介紹</a></li>
            <li><a class="text-gray hover-decoBorder-bottom position-relative py-2 px-0 ms-8" href="#">團體課程</a></li>
            <li><a class="text-gray hover-decoBorder-bottom position-relative py-2 px-0 ms-8" href="#">會員方案</a></li>
            <li><a class="text-gray hover-decoBorder-bottom position-relative py-2 ms-8 pe-0" href="#">登入</a></li>
          </ul>
          <!-- menu mobile ham-->
          <a class="d-lg-none" data-bs-toggle="collapse" href="#nav-menu-mobile" role="button" aria-expanded="false" aria-controls="nav-menu-mobile">
            <img class="nav-menu-ham" src="./assets/images/Icon/menu.svg" alt="menu">
          </a>
        </nav>
        <!-- menu mobile show -->
        <div class="d-lg-none collapse w-50 w-md-25 ms-auto" id="nav-menu-mobile">
          <ul class="nav-menu-mobile list-unstyled">
            <li class="pt-4 px-6"><a class="border-bottom nav-menu-mobile-border-color text-end pb-4" href="#">場館資訊</a></li>
            <li class="pt-4 px-6"><a class="border-bottom nav-menu-mobile-border-color text-end pb-4" href="#">課程介紹</a></li>
            <li class="pt-4 px-6"><a class="border-bottom nav-menu-mobile-border-color text-end pb-4" href="#">團體課程</a></li>
            <li class="pt-4 px-6"><a class="border-bottom nav-menu-mobile-border-color text-end pb-4" href="#">會員方案</a></li>
            <li class="pt-4 px-6"><a class="text-end pb-4" href="#">登入</a></li>
          </ul>
        </div>

      </div>
    </header>


    <%- contents %>


    <footer class="bg-primary-light py-10 py-lg-15">
      <div class="container">
        <div class="d-lg-flex justify-content-between">

          <div class="mb-7 mb-lg-0">
            <h2 class="mb-2"><a class="nav-logo hover-opacity" href="#">HIGHROCK</a></h2>
            <p class="fs-6">Taipei’s ultimate rock climbing<br>
              experience in 2 locations, 7 days a week</p>
          </div>

          <div>
            <div class="mb-6">
              <p class="fs-5 text-gray-c2 mb-2">關於我們</p>
              <ul class="d-flex list-unstyled">
                <li><a href="#" class="hover-opacity me-4">場館資訊</a></li>
                <li><a href="#" class="hover-opacity me-4">門票資訊</a></li>
                <li><a href="#" class="hover-opacity">會員方案</a></li>
              </ul>
            </div>
            <div class="mb-7 mb-lg-0">
              <p class="fs-5 text-gray-c2 mb-2">近期活動與課程</p>
              <ul class="d-flex list-unstyled">
                <li><a href="#" class="hover-opacity me-4">頂繩攀登</a></li>
                <li><a href="#" class="hover-opacity me-4">先鋒攀登</a></li>
                <li><a href="#" class="hover-opacity">室內抱石</a></li>
              </ul>
            </div>
          </div>

          <div>
              <p class="fs-5 text-gray-c2 mb-2">聯絡我們</p>
              <ul class="list-unstyled mb-7 mb-lg-4">
                <li class="hover-opacity mb-1"><a href="tel:0988666888" >0988-666-888</a></li>
                <li class="hover-opacity mb-2"><a href="mailto:highrockclimbing@gmail.com">highrockclimbing@gmail.com</a></li>
                <li class="d-flex">
                  <a class="hover-opacity me-6" href="#"><img class="footer-icon" src="./assets/images/Icon/facebook.svg" alt="facebook"></a>
                  <a class="hover-opacity me-6" href="#"><img class="footer-icon" src="./assets/images/Icon/twitter.svg" alt="twitter"></a>
                  <a class="hover-opacity" href="#"><img class="footer-icon" src="./assets/images/Icon/instagram.svg" alt="instagram"></a>
                </li>
              </ul>
              <p class="fs-7 text-gray-c2">Copyright© HighRock All Rights Reserved.</p>
          </div>

        </div>
      </div>
    </footer>


    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>