@mixin pc-lg {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin pad {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin mobile-lg {
  @media (min-width: 414px) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 374px) {
    @content;
  }
}

// 圖片取代文字

@mixin logo-link {
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
}
