// typo
.vertical-middle {
  vertical-align: middle !important;
}

.lh-40 {
  line-height: 40px;
}

.lh-21 {
  line-height: 21px;
}

.lh-24 {
  line-height: 24px;
}

.ls-01 {
  letter-spacing: 0.1rem;
}

.z-index-1 {
  z-index: 1;
}

.letter-12 {
  letter-spacing: 0.12rem;
}

.border-top-n1 {
  border-top: -1px solid $border-color !important;
}

// style
.nav-menu-mobile-border-color {
  border-color: #eef8f3 !important;
}

.opacity08 {
  opacity: 0.8;
}

.max-width-none {
  max-width: none;
}

.w-c-75 {
  width: 75px;
}
