// typo
.vertical-middle {
  vertical-align: middle !important;
}

.lh-40 {
  line-height: 40px;
}

.lh-21 {
  line-height: 21px;
}

.lh-24 {
  line-height: 24px;
}

.z-index-1 {
  z-index: 1;
}

.letter-12 {
  letter-spacing: 0.12rem;
}

// style
.nav-menu-mobile-border-color {
  border-color: #eef8f3 !important;
}
